* {
  box-sizing: border-box;
  margin: auto 0;
}

nav{
    background-color: #bcdd7a;
    margin: auto 0;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;

    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;

      li{
        flex-direction: row;
        align-items: baseline;
        padding: 35px 20px;

        a{
            margin-top: 50px;
            text-decoration: none;
            color: #272a15;
        }
      }

      li:hover{
          background-color: #3a5a01;

          a{
            color: #b6dac5;
          }
      }
    }
}

h2 {
  font-family: $p_cursive;
  font-size: $min_h2-size;
  padding: $gutter_std / 4 $gutter_std;
  text-align: center;
  margin: 30px;
  font-weight: bold;
}

button {
  padding: 19px 25px 18px 25px;
  color: #FFF;
  background-color: #4f8901;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #4f8901;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
}











