// /********************************
//         Variables
// ********************************/


// @import url('https://fonts.googleapis.com/css?family=Atma|Fredericka+the+Great|Love+Ya+Like+A+Sister|News+Cycle|Dosis');

// $gutter_std: 1vw;

<<<<<<< HEAD
// /******* font style and size ***********/
// $base_font: helvetica, arial;
// $h2_cursive: 'Noto Sans KR', cursive, $base_font;
// $p_cursive: 'Dosis', sans-serif, $base_font;
// $p_basic: 'News Cycle', sans-serif, $base_font;
// $font_big: $gutter_std * 3;
// $font_medium: $gutter_std * 1.5;
// $font_small: $gutter_std / 2;
// $min_font_size: 16px;
// $min_h2_size: 25px;
=======
/******* font style and size ***********/
$base_font: helvetica, arial;
$h2_cursive: 'Noto Sans KR', cursive, $base_font;
$p_cursive: 'Dosis', sans-serif, $base_font;
$p_basic: 'News Cycle', sans-serif, $base_font;
$font_big: $gutter_std * 3;
$font_medium: $gutter_std * 1.5;
$font_small: $gutter_std / 2;
$min_font_size: 16px;
$min_h2_size: 28px;
>>>>>>> 823a999c5321636a0418ad8c0a1c39839254cad2


// /********* color **************/
// $dark_green: rgb(14, 59, 14);
// $white: white;
// $aqua: aqua;
// $black: black;
